<div class="page">
	<header>
	<div class="wrapper">
  	<div class="logo">
	 	 <%= image_tag("trip/logo.png") %> 
 	  </div>
    <div class="name">
	 	 <p>oleg.skliarenko</p>
	 	 <%= image_tag("trip/icon_currency.svg") %>
 		</div>
 		<div class="currency">
	 	 <p>USD</p>
	 	 <%= image_tag("trip/icon_currency.svg") %>
 	 	</div>
  </div>
	</header>
	<div class="content_all"> 
		<div class="slider"> 
			<div class="grad"> </div>
			<div class="navigation">
				<ul class="elipses">
					<li><%= image_tag("trip/elips.png") %></li>
					<li><%= image_tag("trip/elips_green.png") %></li>
					<li><%= image_tag("trip/elips.png") %></li>
					<li><%= image_tag("trip/elips.png") %></li>
				</ul>			
			</div>
		</div>

		<div class="wrapper">  
			<div class="all_information">
				<div class="left"> 
					<div class="trip_developers">
						<div class="ava"><%= image_tag("trip/os.png") %></div>
						<div class="city">Среда обитания — Киев, но считает себя космополитом</div>
						<div class="mail"><p>Написать на почту</p></div>
						<div class="type">Создатель трипа</div>
						<div class="developer">Олег Скляренко, Григорьевич</div>
					</div>
					<div class="tips">
						<div class="cross"> <%= image_tag("trip/cross.png") %> </div>
						<div class="all_in"><%= image_tag("trip/all_in.png") %></div>
						<p>Друзья, обращайте внимание на особые значки, которые расскажут вам про особенности платформы и снимут ряд вопросов. Приятных путешествий ;)</p>
					</div>
				</div>
			<div class="center"> 
				<div class="general_informatiom">
					<p class="trip_name">Кайтсерфинг на самом</p>
					<p class="trip_place">ОАЭ, Дубай</p>
					<div class="calendar">
						<p class="days">7 дней </p>
						<p class="date">C 14 ноября по 12 ноября</p>
						<table class="calendar_table">
							<thead>
								<th><span title="Понедельник">Пн</span></th>
								<th><span title="Вторник">Вт</span></th>
								<th><span title="Среда">Ср</span></th>
								<th><span title="Четверг">Чт</span></th>
								<th><span title="Пятница">Пн</span></th>
								<th><span title="Суббота">Сб</span></th>
								<th><span title="Воскресенье">Вс</span></th>
						    </thead>
							<tbody>
								<tr>
									<td><p>10</p></td>
									<td><p>11</p></td>
									<td><p>12</p></td>
									<td><p>13</p></td>
									<div class="green_right">
									<td><p class="a_14">14</p></td>
									<td><p class="a_14">15</p></td>
									<td><p class="a_14">16</p></td>
									</div>
									<div class="green_left">
									</div>
								</tr>
								<tr>
									<td><p class="a_14">17</p></td>
									<td><p class="a_14">18</p></td>
									<td><p class="a_14">19</p></td>
									<td><p class="a_14">20</p></td>
									<td><p>21</p></td>
									<td><p>22</p></td>
									<td><p>23</p></td>
								</tr>
								<tr>
									<td><p>24</p></td>
									<td><p>25</p></td>
									<td><p>26</p></td>
									<td><p>27</p></td>
									<td><p>28</p></td>
									<td><p>29</p></td>
									<td><p>30</p></td>
								</tr>
								<tr>
									<td><p>31</p></td>
									<td><p>1</p></td>
									<td><p>2</p></td>
									<td><p>3</p></td>
									<td><p>4</p></td>
									<td><p>5</p></td>
									<td><p>6</p></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="trip_type">
						<p>Вечеринка</p>
					</div>
					<div class="trip_image"><%= image_tag("trip/trip_image.png") %></div>
					<div class="trip-include_block"> 
						<p class="trip_include">В этот трип входит:</p>
						<ul class="include_images">
							<li><%= image_tag("trip/include_images_1.png") %></li>
							<li><%= image_tag("trip/include_images_2.png") %></li>
							<li><%= image_tag("trip/include_images_3.png") %></li>
							<li><%= image_tag("trip/include_images_4.png") %></li>
							<li><%= image_tag("trip/include_images_5.png") %></li>
						</ul>
					</div>	
					<div class="describe">Жаркое солнце, золотой песок и легкий ветерок прохлады лазурного моря. Дубай манит своим роскошным видом самую искушенную публику. Идеально чистое состояние всей пляжной линии, отсутствие...<span> Ещё</span></div>
				</div>
				<div class="trip_map">
					<p>Карта трипа</p>
					<p>14 ноября 2014 года, в 12:00 вы отправляетесь в незабываемое путешествие...</p>
				</div>
				<div class="fly_dubay_all">
					<div class="trip_map_top">
						<%= image_tag("trip/in_duba.png", :class => "first_img") %>
						<p class="trip_map_top_name_1">Перелет в Дубаи</p>
						<div class="included_in_price">
						<p>Входит в стоимость</p>
						<%= image_tag("trip/check.png") %>
						</div>
					</div>
					<div class="flight">Fly Dubai, FZ728</div>
					<div class="left_block">
						<p class="font_1">Шарм Эль Шейх</p>
						<p class="font_2">Борисполь, KBP</p>
						<p class="font_3">14 ноября, 12:00</p>	
					</div>
					<div class="center_block">
						<%= image_tag("trip/arrow.png", :class => "arrow") %>
						<p class="font_2">3 часа в пути,</p>
						<p class="font_3">эконом класс</p>
					</div>
					<div class="right_block">
						<p class="font_1">Дубаи</p>
						<p class="font_2">Шарджа, DXB</p>
						<p class="font_3">14 ноября, 15:00</p>
					</div> 
				</div>
				<div class="apartments">
					<div class="trip_map_top">
						<%= image_tag("trip/fortuna.png", :class => "second_img") %>
						<p class="trip_map_top_name_2">Fortune Apartments ****</p>
						<div class="included_in_price">
							<p>Входит в стоимость</p>
							<%= image_tag("trip/check.png") %>
						</div>
					</div> 
					<div class="apartments_left">
						<p>69% на <span class="tripadvisor">tripadvisor</span></p>
						<p class="apartments_second">9,5 на <span class="booking">booking</span></p>
						<p class="apartments_title">Питание</p>
						<div class="nutrition">
							<%= image_tag("trip/nutrition.png") %>
							<p id="name_badges">Включен обед и ужин</p>
						</div>
					</div>
					<div class="apartments_center">
						<p class="apartments_title">Wi-Fi</p>
						<div class="wi-fi">
							<%= image_tag("trip/wi-fi.png") %>
							<p id="name_badges">FREE</p>
						</div>
					</div>
					<div class="apartments_right">
						<p>PO Box 98661, Дубай 98661, ОАЭ</p>
						<p class="apartments_second">+6 932 234 43 23, fortune.ab</p>
						<p class="apartments_title">Удобства, развлечения</p>
						<div class="all_entertainment">
							<div class="pool">
							<%= image_tag("trip/pool.png") %>
							<p id="name_badges">Бассейн</p>
						</div>
						<div class="bar">
							<%= image_tag("trip/bar.png") %>
							<p id="name_badges">Бар</p>
						</div>
						<div class="fitness">
							<%= image_tag("trip/fitness.png") %>
							<p id="name_badges">Фитнес</p>
						</div>
						</div>
					</div>
					<%= image_tag("trip/fortune-grand-hotel-apartment.jpg") %>
					<div class="navigation_apartments">
						<ul class="elipses">
							<li><%= image_tag("trip/elips.png") %></li>
							<li><%= image_tag("trip/elips_green.png") %></li>
							<li><%= image_tag("trip/elips.png") %></li>
							<li><%= image_tag("trip/elips.png") %></li>
						</ul>
					</div>	
				</div> 
				<div class="in_city">
					<div class="trip_map_top">
						<%= image_tag("trip/clever.png", :class => "third_img") %>
						<p class="trip_map_top_name_3">Чем заняться в городе</p>
					</div>
					<p class="all_about_city">Прогулки по старой Риге, осмотр достопримечательностей и посещение лучших кафе и ресторанов города. Для любителей вкусно поесть, подготовлен список заведений, которые нужно посетить в прибалтийской столице. После прилета в Ригу и заселения в отель, отправляйтесь в старый город и ищите чесночное кафе «Kiploku krogs». Здесь вас угостят вкуснейшими блюдами с добавлением чеснока. Вечером бар «Skyline», на 26-м этаже отеля «Radisson Blue». Коктейли и приятная музыка, с шикарным видом ночной Риги. В субботу можно подольше погулять по городу и, с хорошим аппетитом, зайти в один из лучших ресторанов Риги — «Malna Kaka Majas», который находится в легендарном доме с кошками. Шикарная возможность отведать национальные латышские блюда от лучших поваров Риги.</p>
				</div>
				<div class="best_club">
					<%= image_tag("trip/Группа 4.png") %>
					<%= image_tag("trip/cocktail.png", :id => "fourth_img") %>
					<p>Лучший клуб Парижа</p>
					<div class="best_club_description">В субботу вечером обязательное посещение лучшего клуба Парижа "L'Arc". А в воскресенье можно выспаться и лететь домой с незабываемыми впечатлениями.</div>
				</div>
				<div class="fly_kiev">
					<div class="fly_top">
						<%= image_tag("trip/Векторный смарт-объект.png") %>					
						<%= image_tag("trip/in_duba.png", :id => "fifth_img") %>
						<p class="fly_to_kiev">Перелет в Киев</p>
						<div id="included_in_price">
							<p>Входит в стоимость</p>
							<%= image_tag("trip/check.png") %>
						</div>
					</div>
					<div class="flight">Turkish Airline, TA362</div>
					<div class="left_block">
						<p class="font_1">Дубаи</p>
						<p class="font_2">Шарджа, DXB</p>
						<p class="font_3">20 ноября, 12:00</p>	
					</div>
					<div class="center_block">
						<%= image_tag("trip/arrow.png", :class => "arrow") %>
						<p class="font_2">2 часа в пути,</p>
						<p class="font_3">эконом класс</p>
					</div>
					<div class="right_block">
						<p class="font_1">Стамбул</p>
						<p class="font_2">Стамбул, STB</p>
						<p class="font_3">20 ноября, 13:50</p>
					</div> 
					<div class="docking">Стыковка в аэропорту «Стамбул». Есть время выпить кофе.</div>
					<div class="flight">Turkish Airline, TA362</div>
					<div class="left_block">
						<p class="font_1">Дубаи</p>
						<p class="font_2">Шарджа, DXB</p>
						<p class="font_3">20 ноября, 12:00</p>	
					</div>
					<div class="center_block">
						<%= image_tag("trip/arrow.png", :class => "arrow") %>
						<p class="font_2">2 часа в пути,</p>
						<p class="font_3">эконом класс</p>
					</div>
					<div class="right_block">
						<p class="font_1">Стамбул</p>
						<p class="font_2">Стамбул, STB</p>
						<p class="font_3">20 ноября, 13:50</p>
					</div> 
				</div>
				<div class="tail"> 
					<p>20 ноября 2014 года, в 18:00 вы прибываете в Киев и вычеркиваете Дубии из списка мест, где мечтаете побывать</p>
				</div>
			</div>
			
			<div class="right">
				<div class="select_options">
					<div class="up">
						<p>С этого места вы отправляетесь 
в свое незабываемое путешествие</p>
						<div><%= image_tag("trip/drop.png") %></div>
					</div>
					<p class="starting_point">Отправная точка</p>
					<div class="why_hover"><%= image_tag("trip/why_hover.png") %></div>
					<div class="from">
						<p>Киев, Украина</p>
						<%= image_tag("trip/black_drop.png") %>
					</div>
					<p class="travelers">Путешествуют</p>
					<div class="why"><%= image_tag("trip/why.png") %></div>
					<p class="travelers_hotel">Размещение</p>
					<div class="why_2"><%= image_tag("trip/why.png") %></div>
					<div class="when_travelers">
						<p>четверо</p>
					</div>
					<div class="more-less">
						<p>+</p>
						<hr class="line"></hr>
						<p>-</p>
					</div>
					<div class="when_room">
						<p>4 номера</p>
					</div>
					<div class="more-less">
						<p>+</p>
						<hr class="line"></hr>
						<p>-</p>
					</div>
					<p class="total">Всего</p>
					<div class="why_3"><%= image_tag("trip/why.png") %></div>
					<p class="total_m">1 100 $</p>
					<div class="potter"><%= image_tag("trip/potter.png") %></div>
					<div class="tickets">
						<p>Билет на самолет Киев – Дубаи</p>
						<p>Номер в отеле Fortune Apartments ****</p>
						<p>Билеты в клубас L'Arc</p>
						<p>Билет на самолет Дубаи – Киев</p>
					</div>
					<div class="quantity">
						<p>4</p>
						<p>4</p>
						<p>4</p>
						<p>4</p>
					</div>
					<div class="buy_trip">Купить</div>
				</div>
			</div>
	</div>

<footer>
		<div class="footer_top">	
			<div class="wrapper_old">
				<div class="number"> 
					<%= image_tag("trip/вуха.png") %>
					<p>+38 044 221 08 11</p>
				</div>
				<div class="mail_footer">
					<%= image_tag("trip/mail.png") %>
					<p>hello@fasttrip.me</p>
				</div>
				<div class="social">
					<%= image_tag("trip/social.png") %>
				</div>
				<div class="coffe">
					<p>Киев, ул. Красноармейская, 72</p>
					<%= image_tag("trip/coffe.png") %>
				</div>
			</div>
		</div>
		 <div class="footer_down">
			<div class="wrapper_old">
				<div class="left_side">
        	<ul>
  					<li>О нас</li>
  					<li>Ответы на вопросы</li>	
 					  <li>Правила</li>	
  					<li>Договор-оферта</li>				
					</ul>
        </div>
        <div class="right_side">
      	<div class="line1_clearfix">
      	  <div class="left_side_2">
      	  fasttrip.me – удивительный магазин путешествий. С его помощью, каждый сможет увидеть весь мир. Наслаждайтесь незабываемыми путешествиями.
      	  </div>
          <div class="right_side_2">
      	    <div class="plane"><%= image_tag("trip/Fly.png") %></div>
          </div>
        </div>
        <ul class="payment_img">
          <li class="master_card"><%= image_tag("trip/master.png") %></li>
          <li class="pci"><%= image_tag("trip/pci.png") %></li>
          <li class="visa"><%= image_tag("trip/visa.png") %></li>
          <li>
            <div>
              <div class="fast_trip"><%= image_tag("trip/fast.png") %></div>
              <span class="flat_project">flat project</span>
            </div>
        </li></ul>
        <div class="spiral"><%= image_tag("trip/heart.png") %></div>
      </div>
			</div>
		 </div>	
</footer>
</div>




